<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Firma kliniği Manisa, izmir , istanbulda firmalara danışmanlık veren sorunlarını çözen projelerinde yol gösteren manisa merkezli bir firma destek firmasıdır." />
      <meta name="keywords" content="firma, danismanlik, firma kliniği , ar-ge , ar-ge proje" />
      <title>Firma Kliniği</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="/static/css/flaticon.css">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="/static/css/fontawesome.min.css">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
      <!-- slicknav css -->
      <link rel="stylesheet" href="/static/css/slicknav.css">
      <!-- animate css -->
      <link rel="stylesheet" href="/static/css/animate.min.css">
      <!-- main css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- responsive css -->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- jquery js -->
      <script src="/static/js/jquery-3.3.1.min.js"></script>
   </head>