<div  class="header-area">
    <div class="info-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-8">
                    <ul class="social-links">
{#                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>#}
{#                        <li><a href=""><i class="fab fa-twitter"></i></a></li>#}
                        <li><a href="https://www.linkedin.com/company/firma-klini%C4%9Fi-dan%C4%B1%C5%9Fmanl%C4%B1k/"><i class="fab fa-linkedin-in"></i></a></li>
{#                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>#}
                    </ul>
                </div>

                <div class="col-lg-8 col-4">
                    <div class="right-content">
                        <span class="working-time">Hedeflerinize Güvenle Ulaşın</span>
                        <div class="language">
                            <a href="https://turkkep.com.tr/basvuru-merkezi/firmaklinigi/"><img src="/static/img/turkkep-logo-03.png" alt="Firma Kliniği TURKKEP logosu"></a>

{#                            <ul class="language-dropdown">#}
{#                                <li>#}
{#                                    <a href="#">Tr</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#">French</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#">Spanish</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#">Arabic</a>#}
{#                                </li>#}
{#                            </ul>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support-nav-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="logo-wrapper">
                        <div class="logo-wrapper-inner">
                            <a href="/"><img src="/static/img/logo.png" alt="Firma Kliniği logosu"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-6 position-lg-relative position-static">
{#                    <div class="support-bar">#}
{#                        <div class="row">#}
{#                            <div class="offset-xl-4 col-xl-8 offset-2 col-10">#}
{#                                <div class="row">#}
{#                                    <div class="col-lg-4">#}
{#                                        <div class="support-info">#}
{#                                            <div class="left-content"><i class="flaticon-call"></i></div>#}
{#                                            <div class="right-content">#}
{#                                                <div class="right-content-inner">#}
{#                                                    <h5>TELEFON</h5>#}
{#                                                    <p>+ 90 236 503 17 73</p>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-4">#}
{#                                        <div class="support-info">#}
{#                                            <div class="left-content"><i class="flaticon-email"></i></div>#}
{#                                            <div class="right-content">#}
{#                                                <h5>Mail</h5>#}
{#                                                <p>info@firmaklinigi.com </p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-lg-4">#}
{#                                        <a href="quote.html" class="boxed-btn"><span>Başvuru</span></a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="navbar-area">
                        <div class="row">
                            <div class="col-lg-9 d-lg-block d-none">
                                <nav class="main-menu" id="mainMenu">
                                    <ul>
                                        <li>
                                            <a href="/">ANASAYFA</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/hizmetlerimiz/">HİZMETLERİMİZ</a>
                                            <ul>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/ar-ge-hizmetleri/">AR-GE HİZMETLERİ <i
                                                        class="fas fa-chevron-right"></i></a>
                                                    <ul>
                                                        <li><a href="/hizmetlerimiz/ar-ge-hizmetleri/check-up-hizmeti/">CHECK-UP HİZMETİ</a></li>
                                                        <li><a href="/hizmetlerimiz/ar-ge-hizmetleri/periyodik-ar-ge-danismanligi/">PERİYODİK AR-GE DANIŞMANLIĞI</a></li>
                                                        <li><a href="/hizmetlerimiz/ar-ge-hizmetleri/ar-ge-muhasebesi-danismanlik-hizmeti/">AR-GE MUHASEBESİ VE TEŞVİKLERİ DANŞIMANLIĞI</a></li>
                                                        <li><a href="/hizmetlerimiz/ar-ge-hizmetleri/portal-hizmetleri/">PORTAL HİZMETLERİ</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/vergi-ve-sigorta-danismanligi/">VERGİ VE SİGORTA DANIŞMANLIĞI </a>

                                                </li>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/genel-hibe-ve-tesvik-danismanligi/">GENEL HİBE VE TEŞVİK DANIŞMANLIĞI </a>

                                                </li>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/proje-yazim-ve-yönetimi-hizmetleri/">PROJE YAZIM VE YÖNETİMİ HİZMETLERİ</a>

                                                </li>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/sirket-degerleme/">ŞİRKET DEĞERLEME</a>

                                                </li>

                                                </li>
                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/yatirim-ve-tesvik-danismanligi/">YATIRIM VE TEŞVİK DANIŞMANLIĞI</a>

                                                </li>

                                                <li class="dropdown-submenus"><a href="/hizmetlerimiz/destek-hizmetleri/">DESTEK HİZMETLERİ </a>

                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="/hakkimizda/">KURUMSAL</a>
                                            <ul>
                                                <li><a href="/hakkimizda/">FİRMA KLİNİĞİ</a></li>
                                                <li><a href="/tarihce/">TARİHÇE</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/iletisim/">İLETİŞİM</a>
                                        </li>

                                        <li>
                                            <a href="">BLOG</a>
                                        </li>




                                    </ul>
                                </nav>
                            </div>
                            <div class="col-lg-3 col-12 position-lg-relative position-static">
                                <div id="mobileMenu"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>